 <div class="user-details">
   <div class="images">
    <img alt="Profile Picture" src="{{ "/assets/img/DSC_0392.JPG" | prepend: site.baseurl }}" style="width:200px;height:200px;"/>
    <h1> About Me </h1>
  <p> {{site.user_description}} </p>
  </div>
</div>
  <div class="user">
    <div class="tech">
      <h2>Lead</h2>
      <i class="fab fa-raspberry-pi"></i>
      <i class="fab fa-linux"></i>
      <i class="fab fa-python"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Communicate</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Technical Skills</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
